*{
    box-sizing: border-box;
    padding:0;
    margin:0;
}
.container{
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    display: flex;             /* NEW, Spec - Opera 12.1, Firefox 20+ */
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    border: 1px solid #999;
    align-items: center;
    padding:20px;
}

[class*='item']{
    width: 150px;
    border: 1px solid #f00;
}
.item1{
    height:120px;
}
.item2{
    height:100px;
}
.item3{
    height:40px;
}
.item4{
    height:200px;
    border-color: #283efb;
}
@media screen and (max-width:641px){
    .container{
        -webkit-align-items: flex-start;
        align-items: flex-start;
        -webkit-justify-content: space-around;
        justify-content: space-around;
    }
    .item4{
        order: -1;
    }
}
@media screen and (max-width:641px) and (min-width: 492px){
    .container:after {
        content: "";
        width:calc(23% + 196px);
    }
    .item3{
        margin-top: 20px;
    }
}
@media screen and (max-width:491px) and (min-width: 342px){
    .item2,.item3{
        margin-top: 20px;
    }
}
@media screen and (max-width:341px) {
    .item1, .item2, .item3{
        margin-top: 20px;
    }
}
